# 只作为本地开发多项目调试使用，不建议使用生产环境，生产环境请使用Dockerfile.example打包的项目单独镜像
version: "3"
services:
  runtime-php7.4-fpm-ubuntu:
    image: zdzserver/docker-runtime:php7.4-fpm-ubuntu
    container_name: runtime-php7.4-fpm-ubuntu
    volumes:
      - $WEB_ROOT:/var/www
      - $NGINX_CONF_D:/etc/nginx/conf.d
    ports:
    # 添加你映射的端口
    